<h1>hello this is my First Angular Project</h1>
{{title}}
<h2>{{name}}</h2>
<h3>this is from get method-->{{getName()}}</h3>
<h4>this heading we got from getName2() Method--> {{getName2()}}</h4>
<h2>name=={{obj.name}}</h2>
<h2>varient=={{obj.varient}}</h2>
<h2>old=={{obj.old}}</h2>
<h2>price=={{obj.price}}</h2>
<hr>
<h5>name=={{object2.name}}</h5>
<h5>old=={{object2.old}}</h5>
<h5>varient=={{object2.varient}}</h5>
<hr>
<h2>name=={{object3.name}}</h2>
<h2>old=={{object3.old}}</h2>
<h2>varient=={{object2.varient}}</h2>
<hr>
<h2>name=={{object4.name}}</h2>
<h2>old=={{object4.old}}</h2>
<h2>varient=={{object4.varient}}</h2>

<hr size=10px>
<h2>name=={{object5.name}}</h2>
<h2>old=={{object5.old}}</h2>
<h2>varient=={{object5.varient}}</h2>
<hr size=10px>
<h2>name=={{object6.name}}</h2>
<h2>old=={{object6.old}}</h2>
<h2>varient=={{object6.varient}}</h2>
<hr size=20px>
<h2>name=={{object7.name}}</h2>
<h2>old=={{object7.old}}</h2>
<h2>varient=={{object7.varient}}</h2>

<hr><hr>

<h3>name=={{arr[0]}}</h3>
<h3>roll no={{arr[1]}}       city=={{arr[2]}}   {{arr2[2]}}</h3>

<hr><hr>
<h3>name={{arr2[0]}}  roll no={{arr2[1]}} city={{arr2[2]}}</h3>


<hr><hr>
<h3>name={{arr3[0]}}  roll no={{arr3[1]}} city={{arr3[2]}}</h3>
<hr><hr>
<h3>{{9+10}}</h3>
<hr><hr>
<h3>a+b={{a+b}}</h3>
<hr><hr>
<h3>webite URL={{siteUrl}}</h3>
<hr><hr>

<app-user-list></app-user-list>
<app-login></app-login>
<hr><hr>
<app-signup></app-signup>